### Insert a image
![text](https://image.shutterstock.com/image-photo/beautiful-water-drop-on-dandelion-260nw-789676552.jpg)

### insert a site
.[site](https://www.google.com/search?q=image&sxsrf=ACYBGNTIKWjmhtZJe9nYSTzbDDiQrgYYdg:1575346495643&tbm=isch&source=iu&ictx=1&fir=ejCcUwDgWnW99M%253A%252CLlgDpz1LoiuznM%252C_&vet=1&usg=AI4_-kQrzbt8pcykkDp0zL1DeyohfWdq-w&sa=X&ved=2ahUKEwiLg5WCz5jmAhXLXisKHQ8gAL0Q9QEwAnoECAgQMg#imgrc=ejCcUwDgWnW99M:)

### for creating ordered  list
1.  abc 
2. efg
         A. a
         B. b
3. hij
         A. c
         B. d

### for creating unordered  list
- abc
- efg
   - a
   - b
- hij

### for bold and single italic text
**gitam**<dr>
 *gitam*

In [7]:
print("hello world")

hello world

In [8]:
# variable creation
a=10
b=20
a+b

30

In [9]:
name= "gitam"
print("university:"+ name)

university:gitam

In [10]:
name=input("enter a name")
age=int(input("enter age"))
print("my name is:" ,name, "and my age is:" ,age)

enter a nameasritha
enter age20
my name is: asritha and my age is: 20

## take 2 inputs and do the following arithematic operations
### add,sub,mul,div

In [14]:
a=int(input("enter a value "))
b=int(input("enter a value"))
c=a+b
d=a-b
e=a*b
f=a/b
print(c)
print(d)
print(e)
print(f)

enter a value 2
enter a value3
5
-1
6
0.6666666666666666

### fundamental datatypes
1. int
2. float
3. complex (3+5j)
4. boolean
5. string

In [13]:
a=10
b=12.05
c=5+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [15]:
c=complex(3,4)
print(c)

(3+4j)

In [16]:
c1=3+5j
c2=6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+12j)
(-3-2j)
(-17+51j)

In [17]:
a=10
b=20
a>b

False

In [18]:
s1="abc"
s2="xyz"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [21]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))
f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [24]:
a=1234
print(len(str(a)))

4

### operators
1. arithematic operators---->+,-,*,%.,//**
2. logical operators------>and,or,out
3. relational operators-----><,>,<=,>=.!=
4. membership operators---->in,not in

In [25]:
n1=12
n2=21
print(n1+n2)
print(n2-n1)
print(n1*n2)
print(n1%n2)
print(n1/n2)
print(n1**n2)

33
9
252
12
0.5714285714285714
46005119909369701466112

In [26]:
# relational operators
print(n1==n2)
print(n1!=n2)
print(n1<n2)
print(n1>n2)

False
True
True
False

In [28]:
# logical operators
print(n1>=10 and n1<=20)
print(n1>=10 or n1<=20)
print(not n1)

True
True
False

In [29]:
# logical operators
n1=20
print(n1>=10 and n1<=20)
print(n1>=10 or n1<=20)
print(not n1)

True
True
False

### problem on relational operators
#### take 2 integer numbers and do the following operations
#### >,<.==,!=,<=,>=

In [30]:
n1=10
n2=20
print(n1>n2)
print(n1<n2)
print(n1==n2)
print(n1!=n2)
print(n1<=n2)
print(n1>=n2)

False
True
False
True
True
False

## membership operators
### in---true if the values found in sequence
### not in---true if the values not found in sequence

In [31]:
f=[1,2,3,4]
print(1 in f)
print(5 in f)
print(6 not in f )

True
False
True

## conditional statements
1. if 
2. else
3. elif

## syntax
### if condition:
> statements<br>
### else condition:
> statements

## to check even or odd

## to check given number is a mulptiple of 3 and 5

In [1]:
n=int(input("enter a number"))
if n%3==0 and n%5==0:
    print("multiples of 3 and 5")
else:
    print("not multiples of 3 and 5")

enter a number20
not multiples of 3 and 5

###  to check the given number is positive or negative or zero

In [5]:
n=int(input("enter a number"))
if  n>0:
    print("given number is positive")
elif n==0:
    print("given number is zero")
else :
    print("given number is negative")

enter a number2
given number is positive

### check if the input is leap year or not

In [12]:
n=int(input("enter the year"))
if n%400==0 or (n%100!=0 and n%4==0):
    print("leap year")
else:
    print("not a leap year")

enter the year2100
not a leap year

## Loops
# 1.while loop
# 2.for loop

In [21]:
# print numbers from 1 to  10
n = int(input("enter a number"))
i=1
while i <= n:
    print(i,end=" ")
    i = i+1

enter a number10
1 2 3 4 5 6 7 8 9 10

In [22]:
# read a no in input
# output should be sum of  even numbers from 1 to N

n=int(input("enter a number: "))
i=1
s=0
while i <= n:
    if i%2==0:
        s=s+i
    i=i+1
print(s)

enter a number: 10
30