### Functional programming
1. simple
2. easy to understand
3. better reuseability
4. length of the program will be divided into sub program

In [ ]:
def nameofFunction(<parameters>):
    statements
    return

In [14]:
# read a function
# print the even digit sum from the number

#input : 1234
# output : 6(2+4)

def evenDigitSum(n):
    s=0
    while n !=0:
        r=n%10
        if  r%2==0:
            s=s+r
        n=n//10
    return s
evenDigitSum(1234)

6

In [15]:
# define return function
def square(x):
    print(x*x)
print(square(4))

16
None

In [16]:
def square(x):
    return x*x
square(3)

9

In [17]:
def cube(x):
    return x*x*x
cube(2)

8

In [19]:
def multiply(x,y):
    print("value of x=",x)
    print("value of y=",y)
    return(x*y)
print(multiply(y=2,x=4))

value of x= 4
value of y= 2
8

In [30]:
# swap values
def swap(x,y):
        temp = x
        x = y
        y = temp
        return x,y
swap(2,3)

(3, 2)

In [46]:
# input : 19535
# output : 9 (large digit of given number)
def largeDigit(n):
    large = 0
    while n!=0:
        r=n%10
        if large < r:
            large = r
        n=n//10
    return large
largeDigit(19535)

9

## For loop
### syntax 1:
for i in range (start,stop,step):
> statements
### syntax 2:
for i in Iterableobject:
> statements

In [50]:
# Function to print the prime numbers between two limits
def printseries(lb,ub):
    for x in range(lb,ub+1):
         print(x,end = ' ')
    return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

# collection types
## 1. list
## 2. tuple
## 3. set
## 4. dictionary

# List
- one of the data structure in python
- data structure means to store,sort and search options
- its one common data structure in python , the items of list seperated by comma and enclosed in square brackets
  # EXAMPLES: 
- list1=[1,2,3,4,5]
- list2=["Gitam",1,2]

In [52]:
li=[1,8,16,9,2]
print(li)#will print all the list items
print(li[0])
print(li[1])
print(li[-5])
print(li[1:])
print(li[1:4])
print(li[-4:-1])

[1, 8, 16, 9, 2]
1
8
1
[8, 16, 9, 2]
[8, 16, 9]
[8, 16, 9]

In [54]:
# update the list
li=['gitam',1234,'hyd']
print(li)
li[1] = 456
print(li)

['gitam', 1234, 'hyd']
['gitam', 456, 'hyd']

In [56]:
#  delete a value from list
li=['gitam',1234,2018,2019,'hyd']
print(li)
del li[3]
print(li)

['gitam', 1234, 2018, 2019, 'hyd']
['gitam', 1234, 2018, 'hyd']

In [57]:
# basic list operations
li=[1,2,3,4]
# len of the string
print(len(li))

4