In [1]:
# basic list functions
li=[1,9,16,25,5]
print(max(li))
print(min(li))
print(sum(li))
print(sum(li)//len(li))

25
1
56
11

In [8]:
li=[1,9,16,56,25,5,9]
li.append(29)# add new items at the end
li.insert(2,56)# add new items at a particula position
li
# li.append(9)
li.count(9)# return the value hoe many times it is present

li.index(56) # return the value at the index

2

In [9]:
# method of list objects
li=[1,9,16,56,25,5,9]
li.sort() # sorts the list in asscending order
li

[1, 5, 9, 9, 16, 25, 56]

In [10]:
li=[1,9,16,56,25,9]
li.pop() # last value will be deleted
li

[1, 9, 16, 56, 25]

In [11]:
li=[1,9,16,56,25,5,9]
li.pop(1)# remove particular value
li

[1, 16, 56, 25, 5, 9]

In [12]:
li1=[1,6,19,25]
li.extend(li1)
li

[1, 16, 56, 25, 5, 9, 1, 6, 19, 25]

In [13]:
li=[1,6,19,25]
li.reverse()
li

[25, 19, 6, 1]

In [2]:
def largeNumber(li):
        li.sort()
        return li[-1]
def genericlarge(li,n):
        li.sort()
        return li[-n]
li=[19,1,25,6,9,45,22]
print(largeNumber(li))
print(genericlarge(li,3))

45
22

In [20]:
def smallnumber(li):
    li.sort()
    return li[0]
def genericsmall(li,n):
    li.sort()
    return li[n-1]
li=[19,1,25,6,9,45,22]
print(smallnumber(li))
print(genericsmall(li,3))

1
9

## Tuples
- parenthesis() ---->tuple and square brackets[]--->list
- difference between list and tuples
        - list are unmutable-can be changed/modified
        - used to access and modify,add,delete data
        - tuples are immutable - cannot be changed
        - used to access data only

In [22]:
t1=(1,2,3,4,5,6)
t1
print(type(t1),t1[1:5])

<class 'tuple'> (2, 3, 4, 5)

## dictionaries
1. it works on the concept of set unique data
2. keys,value is unique identifier for the value
3. each key is separated from its values with colan(:)
4. each key and value is separated with comma(,)
5. dictionaries are enhanced with curly braces({})

In [26]:
d1={"name":"gitam","email id":"gitam@gmail.com","address":"hyderabad"}
d1["email id"]="gitampython@gmail.com"# update the data
d1

{'name': 'gitam', 'email id': 'gitampython@gmail.com', 'address': 'hyderabad'}

In [24]:
d1["email id"]

'gitam@gmail.com'

In [25]:
d1["course"]="python" # adding an entry
d1

{'name': 'gitam',
 'email id': 'gitam@gmail.com',
 'address': 'hyderabad',
 'course': 'python'}

In [33]:

d1["course"]="python"
d1

{'name': 'gitam', 'address': 'hyderabad', 'course': 'python'}

In [34]:
d1.keys()

dict_keys(['name', 'address', 'course'])

In [36]:
d1.values()

dict_values(['gitam', 'hyderabad', 'python'])

In [37]:
d1.items()

dict_items([('name', 'gitam'), ('address', 'hyderabad'), ('course', 'python')])

## strings
- strings
- string slicings
- fundamental programming with string in python

In [38]:
s1='python'
print(s1)
print(type(s1))

python
<class 'str'>

In [39]:
s1='python'
print(s1[0])# accss the first character
print(s1[1])# access the second character
print(s1[5])# last character
print(s1[len(s1)-1])# access the last character

p
y
n
n

In [40]:
print(s1[-1])# anaother way to access last character
print(s1[-2])# another way to access last second character
print(s1[0:2])# access the first characters
print(s1[:2])# access the first characters
print(s1[-3:])# last three characters
print(s1[2:])# from second character to last character

n
o
py
py
hon
thon

In [44]:
s1='python'
print(s1[1:-1])# printing all the characters except first and last
print(s1[len(s1)//2])# middle of the string
print(s1[-1::-1])# reverse of the string
print(s1[-1:-3:-1])# access the last two characters in reverse order
# access the alternate characters
print(s1[::2])# two characters
print(s1[::3])# three characters
print(s1[::-2])# from reverse order

ytho
h
nohtyp
no
pto
ph
nhy

In [45]:
 # reversing a string
def reversestring(str):
    return str[-1::-1]
reversestring("programming")

'gnimmargorp'

In [47]:
# check wheter thw given string is palindrome or not
def ispalindrome(str):
    if str==str[::-1]:
        return True
    else:
        return False
    return
print(ispalindrome("python"))
print(ispalindrome('ganag'))

False
True

## string built-in methods
1. upper() -- will convert the input string into upper case
2. lower() -- will convert the input string into lower case

In [48]:
s1='python'
print(s1.upper())
print(s1.lower())

PYTHON
python

In [ ]:
### string boolean built-in methods
3. islower()
4. isupper()
5. istitle()
6. isnumeric()
7. isalpha()
8. isspace()

In [50]:
s1='python'
print(s1.islower())
print(s1.isupper())
print(s1.istitle())
print(s1.isnumeric())
print(s1.isalpha())
print(s1.isspace())

True
False
False
False
True
False

## string methods
- join() --- method wil concatinates the two strings
- split()--- split() returna a list of strings separated by whitespace(no parameters)
- replace()--- replaces the specific word /characters with th enew word/character

In [53]:
s1="python"
print(" ".join(s1))

p y t h o n

In [56]:
s2="python programming is easy to learn"
print(s2.split())

['python', 'programming', 'is', 'easy', 'to', 'learn']

In [57]:
s2="pytho programming is easy to learn"
print(s2.split('a'))

['pytho progr', 'mming is e', 'sy to le', 'rn']

In [58]:
s2="python programming is easy to learn"
li=list(s2)
print(li)

['p', 'y', 't', 'h', 'o', 'n', ' ', 'p', 'r', 'o', 'g', 'r', 'a', 'm', 'm', 'i', 'n', 'g', ' ', 'i', 's', ' ', 'e', 'a', 's', 'y', ' ', 't', 'o', ' ', 'l', 'e', 'a', 'r', 'n']

In [59]:
s2="python programming is to learn"
print(s2.replace("gra","application"))

python proapplicationmming is to learn

In [60]:
s2 = "Python Programming is Easy to Learn"
print(len(s2))
li = s2.split() # split the string -- list objects
print(li)
print(len(li))

35
['Python', 'Programming', 'is', 'Easy', 'to', 'Learn']
6

In [61]:
s3=["Python","dshdh","aopaoaoia"]
"........".join(s3)

'Python........dshdh........aopaoaoia'